/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #2d4d82;
  margin:0;
  }

  header {
    height:130px;
    width:99%;
    background:gold;
    padding:8px;
    position:static;
    margin:0;
  }

/* the HSS robotics club logo in the top right*/
.logo{
  margin-left:15px;

}


/* The nav bar (in the header)code that i copied from DevTips*/
nav {
  text-align: center;
  margin-top: 40px;
  margin-right:300px;
  z-index: 5;
  }
nav > ul {
  list-style: none;
  padding: 0;
  display:inline-block;
  background: #ddd;
  text-decoration: none;
}
nav > ul > li {
  float: left;
  width: 150px;
  height: 65px;
  line-height: 65px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  text-decoration: none;
}
nav > ul > li:hover {
  background: #d5d5d5;
  border-radius: 5px;
}

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;

}
ul.drop-menu li {
  background: #666;
  color: rgba(255, 255, 255, 0.7);
  }

ul.drop-menu li:hover {
  background: #606060;
}

ul.drop-menu li:last-child {
  border-radius: 0px 0px 5px 5px;
}

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu li {
  display: block;
}
/*The wrapper where all of that juicy content goes*/
.textdec {
  text-decoration: none;

}

.wrapper {
  clear: both;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 800px;
  width: 940px;
  height:1000px;
  background-color:white;
  padding:20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 27px 36px  black;
  margin-bottom:30px;

  }
/*All paragraph styling */
.pstyle {
  font-family: 'Merriweather', sans-serif;
  font-size:15px;
  width:300px;
  }

#toprightp {
  float:right;
  margin-right: 180px;
}


#topleftp {
float:left;
margin-top: 150px;
margin-left:80px;

}
#bigrightimg {
  width:900px;
  height:900px;
}


/*First top left image*/
#leftimg {
  width:300px;
  align:left;
}

/*Second image down on the right*/
#rightimg {
  width:400px;
  float:right;
  margin-top: 100px;
}


.divider {
  width: 800px;
  height:2px;
  background-color:#d1d2d3;
  margin-right:20px;
  margin-top: 30px;
}
